*{
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px;
}

html{
    border: 2px solid blue;
}

body{
    background-image: url(./images/background-index.jpg);
    background-size: auto;
    background-size: cover;
}

.page-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

.recipe-list{
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-top: 450px;
    margin-left: 100px;
}

li{
    background-color: transparent;
}

a{
    background-color: transparent;
    color: black;
}